/* reset */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

legend {
  font-size: small;
}

label {
  font-size: smaller;

}


.tooltip {
  cursor: pointer;
  margin-left: 3px;
  font-size: small;
  color: blue;
  position: relative;
  display: inline-block;

}

.tooltip-content {
  background-color: #f9f9f9;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
  font-size: smaller;
  position: absolute;
  z-index: 1000;
  display: none;

}

.tooltip:hover .tooltip-content {
  display: block;
}

.feedback-item,
.feedback-col,
.feedback-msg {
  font-size: smaller;
}

.feedback-col {
  color: rgb(165, 69, 42);
  font-weight: 600;
}

.feedback-msg {
  color: black;
}


/* General table styles */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  font-size: small;
}

td {
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  padding: 0.5em;
  text-align: left;
  font-weight: 500;
  background-color: #f0f0f0;
}

button,
.btn {
  padding: 5px;
  margin: 5px;
}

#feedback_list {
  list-style-type: none;
  padding: 0;
}

#feedback_list li {
  font-size: smaller;
  padding: 5px;
}

#feedback_list li:first-child {
  border-top: red 0.5px solid;
}

#feedback_list li:last-child {
  border-bottom: red 0.5px solid;
}

/* Suggestions dropdown styles */
#suggestions {
  border: 1px solid #ccc;
  max-height: 100px;
  overflow-y: auto;
  background-color: #fff;
  position: absolute;
  z-index: 1000;
}

.suggestion-item {
  padding: 5px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.btn-submit {
  padding: 8px;
  display: block;
  margin: 20px;
  width: max-content;
  width: 90%;
  max-width: 400px;
  color: darkblue;
  box-shadow: 0 0 2px 0 rgba(0, 255, 255, 0.2);
  transition: 200ms ease;
}

.btn-submit:hover {
  box-shadow: 0 0 2px 0 rgba(255, 0, 255, 0.2);
}

.btn-txt {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  padding: 8px;
  transition: 200ms ease;
  text-underline-offset: 2px;
}

.btn-txt:hover {
  text-underline-offset: 1px;
}

.form-upload-another {
  display: flex;
  justify-content: flex-end;
}